.logo {
	@apply relative;

	&:hover {
		animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
		transform: translate3d(0, 0, 0) rotate(0deg);
		perspective: 1000px;
	}

	&__overlay {
		@apply relative before:absolute before:top-0 before:left-0 before:w-full before:h-full before:bg-black before:bg-opacity-70;
	}
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 1px, 0) rotate(0);
	}
	20%,
	80% {
		transform: translate3d(2px, 0, 1px) rotate(3deg);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-2px, 0, 1px) rotate(0);
	}
	40%,
	60% {
		transform: translate3d(2px, 1px, 0) rotate(3deg);
	}
}
