.tech {
	&__stack {
		@apply flex items-center justify-center flex-col relative z-10 gap-5 mb-32;

		&-skills {
			@apply flex gap-5 flex-wrap items-center justify-center;

			&-img {
				&:hover {
					animation: normal skills 2s ease-in-out;
				}
			}
		}
	}
}

@keyframes skills {
	0% {
		transform: rotateY(0deg);
	}

	25% {
		transform: rotateY(20deg);
	}

	50% {
		transform: rotateY(7.5deg);
	}

	70% {
		transform: rotateY(30deg);
	}

	80% {
		transform: rotateY(7.5deg);
	}

	90% {
		transform: rotateY(15deg);
	}

	100% {
		transform: rotateY(0deg);
	}
}
