// light
$light: #f8f8f8;
$gray: #c0c0c0;
$blue: #0081ff;

// dark
$dark: #080808;
$dark-gray: #4b5563;
$dark-blue: #1e40af;

// gradient
$wb-gradient: linear-gradient(
	90deg,
	rgba(255, 255, 255, 1) 0%,
	rgba(0, 129, 255, 1) 50%
);

$d-gradient: linear-gradient(
	90deg,
	rgba(70, 70, 70, 1) 0%,
	rgba(8, 8, 8, 1) 10%,
	rgba(8, 8, 8, 1) 26%,
	rgba(17, 17, 17, 1) 41%,
	rgba(8, 8, 8, 1) 58%,
	rgba(32, 32, 32, 1) 78%,
	rgba(8, 8, 8, 1) 88%
);
